<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 14%" class="text-left">{{ __("Timespan") }}</th>
			<th style="width: 14%" class="text-left">{{ __("Daily Working Time") }}</th>
			<th style="width: 14%" class="text-left">{{ __("Billing Time Ratio") }}</th>
			<th style="width: 14%" class="text-left">{{ __("Daily Break Time") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for(const row of data) { %}
		<tr>
			<td class="text-left"> {%= row.timespan %} </td>
			{% for (const field of ["daily_working_time", "billing_time_ratio", "daily_break_time"]) { %}
				<td class="text-right">
					{% if (row[field].pct_change) { %}
						<span class="badge {%= row[field].pct_change > 0 ? 'badge-success' : 'badge-danger' %}">
							{%= row[field].pct_change > 0 ? '+' : '' %}
							{%= frappe.format(row[field].pct_change, {fieldtype: "Percent", precision: "0"}, {inline: true}) %}
						</span>
					{% } %}
					{%= frappe.format(row[field].value, {fieldtype: field === "billing_time_ratio" ? "Percent" : "Duration", precision: "0", hide_seconds: 1}, {inline: true}) %}
				</td>
			{% } %}
		</tr>
		{% } %}
	</tbody>
</table>
<p class="text-small text-muted">
	{%= __("Only submitted working times are considered in this table.") %}
	<br>
	{%= __("The data is cached and updated every 8 hours.") %}
</p>
